input {
    font-size: 14px;
    margin-left: 5px;
}
label {
    font-size: 16px;
}

.second {
    margin-left: 30px;
}

button {
    margin-left: 40px;
    border: 1px solid black;
    background-color: #fff;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: .2s;
}

button:hover {
    color: #fff;
    background-color: #000;
}